<!DOCTYPE html>
<html>
<head>
  <title>Cdot camera</title>
  <%= stylesheet_link_tag    "cdot_camera/application", media: "all" %>
  <%= javascript_include_tag "cdot_camera/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
