<% @cameras.each do |camera| %>
  <div class="row camera-list-for-add-box">
    <div class="columns">
      <div class="camera-name">
        <% camera_name = camera.name.gsub(/(#{search})/i, '<mark class="highlight">\1</mark>') %>
        <%= link_to camera_name.html_safe, "#", class: "add-camera", id: "cdot-name-#{camera.id}", data: {id: camera.id} %>
      </div>
    </div>
  </div>
<% end %>
<% if @cameras.empty? %>
  <p>No results found</p>
<% end %>
