<div class="row">
  <div class="columns small-12">
    <h1>Editing Camera</h1>
  </div>

  <div class="columns small-12">
    <%= render 'form' %>
  </div>

  <div class="columns small-12">
    <%= link_to 'Show', @camera %> |
    <%= link_to 'Back', cdot_camera_cameras_path %>
  </div>
</div>
