<div class="row">
  <div class="small-12 columns">
    <% @camera.camera_views.each do |view| %>
      <%= image_tag "http://i.cotrip.org/#{view.image_location}", width: 400 %>
    <% end %>
  </div>
</div>

