/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.cdot-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 39.9375em) {
    margin: 0 !important;
  }

  .cdot-card {
    background-color: #fff;
    // padding: 1rem;
    border: 1px solid #333333;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0.9375rem;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 30%;
  }
}
